<section class="w-full mx-auto">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="flex flex-col items-center sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="bg-orange-600 p-2 text-center rounded w-fit">
        <%= image_tag('fire.svg', width: 80) %>
      </div>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign up for your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="flex flex-col gap-4">

          <div class="mb-2">
            <%= f.label :email, class: 'block text-sm font-medium leading-6 text-white' %>
            <div class="mt-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block  w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-orange-500 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <%= f.label :password, class: 'block text-sm font-medium leading-6 text-white' %>
              <% if @minimum_password_length %>
                <em class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
            <div class="mt-2">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-orange-500 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <%= f.label :password_confirmation, class: 'block text-sm font-medium leading-6 text-white' %>
            </div>
            <div class="mt-2">
              <%= f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-orange-500 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div>
            <%= f.submit "Sign up", class: "flex w-full justify-center rounded-md bg-orange-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-400" %>
          </div>
        </div>

      <% end %>


      <p class="mt-10 text-center text-sm text-gray-400">
        Already a member?
        <%= link_to "Log In", new_session_path(resource_name), class: "font-semibold leading-6 text-orange-400 hover:text-orange-300" %>
      </p>
    </div>
  </div>
</section>



<%#= render "devise/shared/links" %>
