<!DOCTYPE html>
<html class="h-screen bg-stone-800 ">
<head>
  <title>Fireside Chats</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag 'favicon.svg' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<main class="w-full mt-10 md:m-0">
  <%= yield %>
</main>
</body>
</html>
