<!DOCTYPE html>
<html class="h-screen bg-stone-800 ">
<head>
  <title>Fireside Chats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="turbo:authenticated" content="<%= user_signed_in? %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag 'favicon.svg' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <style>
    <%= "#msg_#{current_user&.id}" %> {
      background-color: rgb(234 88 12);
    }

    <%= "#cont_#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end;
    }
  </style>
</head>

<body>
<main class="w-full mt-10 md:m-0">
  <%= yield %>
</main>
</body>
</html>
